@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
    background-color: $main-bg-color;
    color: $main-text-color;
    height: 100vh;
    font-size: $small-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint-down(medium){
        padding: 5.25rem;
    }    

    @include breakpoint-down(small){
        padding: 1.25rem;
    }

}

a {
    text-decoration: none;
}

a,a:visited,a:hover {
    text-decoration: none;
}

input,button {
    font-family: inherit;
}

.light-theme {
    $content-bg-color: #fefefe;
    $main-bg-color: #f6f8ff;
    $cta-bg-color: #0079FF;
    $cta-hover: #60abff;
    $follower-bg-color: #141D27;
    $user-handle: #0079FF;
    $main-text-color: #4b6a9b;
    $username-color: #2b3442;
    $followers-color: #fff;
    $followers-num-color: #2b3442;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-col {
        flex-direction: column;
    }
}

.container {
    width: 46.875rem;
    border: 2px solid red;
    box-shadow: $lm-shadow-inactive;

    @include breakpoint-down(medium){
        width: 100%;
    }

    @include breakpoint-down(small){
        width: 100%;
    }
}


.hide {
    display: none;
}


h1 {
    margin: 0;
}

::placeholder {
    color: $main-text-color;
    opacity: 0.75;

    @include breakpoint-down(small){
        font-size: 0.8rem;
    }
}


