@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: 100vh;
    font-size: $small-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint-down(medium){
        padding: 5.25rem;
        margin: 7rem 0;
    }    

    @include breakpoint-down(small){
        padding: 1.25rem;
    }

}

a {
    text-decoration: none;
}

a,a:visited,a:hover {
    text-decoration: none;
}

input,button {
    font-family: inherit;
}


:root {
    --content-bg-color: #{$content-bg-color};
    --main-bg-color: #{$main-bg-color};
    --follower-bg-color: #{$follower-bg-color};
    --main-text-color: #{$main-text-color};
    --username-color: #{$username-color};
    --followers-color: #{$followers-color};
    --followers-num-color: #{$followers-num-color};
    --lm-shadow-inactive: #{$lm-shadow-inactive};
}

.light-theme {
    --content-bg-color: #fefefe;
    --main-bg-color: #f6f8ff;
    --follower-bg-color: #f6f8ff;
    --main-text-color: #4b6a9b;
    --username-color: #2b3442;
    --followers-color: #4b6a9b;
    --followers-num-color: #2b3442;
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}


.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-col {
        flex-direction: column;
    }

    &-row-col {
        @include breakpoint-down(small){
            flex-direction: column;
        }
    }
}

.container {
    width: 46.875rem;
    // border: 2px solid red;


    @include breakpoint-down(medium){
        width: 100%;
    }

    @include breakpoint-down(small){
        width: 100%;
    }
}

.container-shadow {
    box-shadow: var(--lm-shadow-inactive);
}



h1 {
    margin: 0;
}

::placeholder {
    color: var(--main-text-color);
    opacity: 0.75;

    @include breakpoint-down(small){
        font-size: 0.8rem;
    }
}


.hide {
    display: none;
}

.active {
    opacity: .75;
}



