$content-bg-color: #1E2A47;
$main-bg-color: #141D27;
$cta-bg-color: #0079FF;
$cta-hover: #60abff;
$follower-bg-color: #141D27;
$user-handle: #0079FF;
$main-text-color: #fff;
$username-color: #fff;
$followers-color: #fff;
$followers-num-color: #fff;
$lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);

//font

$small-font: 0.875rem;
$normal-font: 1rem;
$large-font: 2rem;
$xl-font: 3rem;

//   --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
//   --

